* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family: Georgia, serif;
}
body{
    position: relative;
    
}
a {
    text-decoration: none;
    color: #fff;
}

body {
    background-color:#493041;
}

.container {
    height: auto;
    width: auto;
    display: grid;
    text-align: center;
    position:static;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 1px;
    box-shadow: 0 0 2px #343aea;
}

.calculator{
    position: absolute;
    top: 100px;
    right: 550px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
}

#display {
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 50px;
    margin-bottom: 20px;
    overflow-x: scroll;
    border-style:double;
    border-radius: 10px;
  }

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

button:hover {
    transform: scale(1.1);
}

button#equal {
    height: 130px;
}


.calculator {
    background-color: #f8f3f3;
}

.calculator #display {
    color: #0a1e23;
}

.calculator button#clear {
    background-color: #1d24f3;
    color: #050111;
}

.calculator button.btn-number {
    background-color: #6e8417;
    color: #000000;
}

.calculator button.btn-operator {
    background-color: #e2640a;
    color: #f2eef2;
  }
  
  .calculator button.btn-equal {
    background-color: #0817eb;
    color: #000;
  }
#Portfolio{
    font-family: cursive;
    font-size: 35px; 
    color: brown ;
    padding-left: 17%;
    text-decoration: 2px dashed double underline;
}
#linkedin{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px; 
    color: dodgerblue;
    padding-left: 20%;   
    text-decoration: 1px pink double underline;

}
#techabbayi{
     padding-left: 1%;
  position: relative;
  left: 70%;
  top: -240px;
    display: inline-block;
    margin-right: 300px;
    height: 300px;
    width: 300px;
border-radius: 70%;

}


 